.news-column {
    border-right: #ececec solid 1px;
}

.post-image {
    width: 35%;
    float: left;
    margin: 0 15px 15px 0;
}

.front-image {
    width: 100%;
}

.search-image {
    width: 15%;
    float: left;
    margin: 0 15px 15px 0;
}

.publish-date {
    color: #ccc;
}

.clearfix {
    display: block;
    clear: both;
}